 .btn-slide-control {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            background: rgba(102, 126, 234, 0.032);
            color: white;
            font-size: 1.5rem;
            cursor: pointer;
            transition: all 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 10;
        }

section {
    position: relative;
}

.btn-slide-control{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

#prevslideBtn {
    left: 20px;
}
#loginBtn{
background-color: #e8dcc2; color: #655b46 ; border-color: #655b46
}
#loginBtn:hover{
    background-color: #c2b59a;
}

#nextslideBtn {
    right: 20px;
}
        .btn-slide-control:hover {
            background: rgba(230, 219, 239, 0.571);
            transform: translateY(-50%) scale(1.1);
        }

        .btn-control:active {
            transform: translateY(-50%) scale(0.95);
        }

        #prevslideBtn {
            left: 20px;
        }

        #nextslideBtn {
            right: 20px;
        }


.py-8-custom {
    padding-top: 8rem !important; 
    padding-bottom: 8rem !important; 
}

.dropdown-toggle::after {
    display: none;
}

/* Position submenu to the right */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: 0;
}


.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > .dropdown-toggle::after {
    transform: rotate(-90deg);
    float: right;
    margin-top: 8px;
}
.dropdown-menu > li > .dropdown-item:hover {
    background-color: #b19f77;
    padding: 10px;
    color: white;
}

.dropdown-divider:hover{
    background-color: #e8dcc2;
}

/* Submenu items */
.dropdown-submenu .dropdown-menu .dropdown-item:hover {
    background-color: #796c51;
    color: white;
}


.modal-overlay {
    display: none; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000; 
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.modal-overlay.pretstaveno{
    opacity: 1;
}


.modal-content {
    background: white;
    padding: 30px;
    border-radius: 8px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#closeModalBtn {
    background-color: #007bff; 
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
}
